<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
    <link rel="stylesheet" th:href="@{/produto/produtos.css}">
</head>
<body>

<h1>Produtos</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>

    <tr th:each="p : ${produto}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nome}"></td>
        <td th:text="${p.preco}"></td>
        <td>
            <a th:href="@{/produtos/editar/{id}(id=${p.id})}">Editar</a>
            <a th:href="@{/produtos/excluir/{id}(id=${p.id})}">Excluir</a>
        </td>
    </tr>
</table>

<a th:href="@{/produtos/cadastrar}">Cadastrar Produto</a>

</body>
</html>
